[Unit]
Description=egb439localiser
After=network.target

[Service]
ExecStart=/usr/local/bin/localiser 
User=www-data
Group=www-data
WorkingDirectory=/var/www/penguinpi
RuntimeDirectory=penguinpi
RuntimeDirectoryMode=0774
PIDFile=/var/run/penguinpi/localiser.pid
StandardOutput=inherit
StandardError=inherit
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target