[Unit]
Description=egb439localiser
After=network.target videostream.service

[Service]
ExecStart=localiser
ExecStopPost=/bin/bash /opt/penguinpi/localiser.cleanup
User=www-data
Group=www-data
WorkingDirectory=/var/www/penguinpi
RuntimeDirectory=penguinpi
RuntimeDirectoryMode=0774
PIDFile=/var/www/penguinpi/localiser.pid
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=1s

[Install]
WantedBy=multi-user.target
