[Unit]
Description=egb439stream
After=network.target videostream.service

[Service]
ExecStart=/bin/bash /opt/penguinpi/videostream.sh
User=www-data
Group=www-data
WorkingDirectory=/var/www/penguinpi
RuntimeDirectory=penguinpi
RuntimeDirectoryMode=0774
PIDFile=/var/www/penguinpi/videostream.pid
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=3s

[Install]
WantedBy=multi-user.target