#extends 'base.html'

# macro Option(name,active)
#  if name == active
    <option value="{{ name }}" selected>{{ name|capitalize }}</option>
#  else
    <option value="{{ name }}">{{ name|capitalize }}</option>
#  endif
# endmacro 

#block content

<h1>PenguinPi board camera</h1>
<img src="/camera/get" width="60%">
<br />
<form action="" method="post" id="camera">
  <table>
    <tr>
        <td><a href="https://picamera.readthedocs.io/en/release-1.13/api_camera.html#picamera.PiCamera.rotation">Rotation</a></td>
      <td>
          <select name="Rotation">
              {{ Option(0,   Rotation) }}
              {{ Option(90,  Rotation) }}
              {{ Option(180, Rotation) }}
              {{ Option(270, Rotation) }}
        </select>
      </td>
    </tr>

    <tr>
        <td><a href="https://picamera.readthedocs.io/en/release-1.13/api_camera.html#picamera.PiCamera.awb_mode">White balance mode</a></td>
      <td>
          <select name="AwbMode">
              {{ Option('Off',          AwbMode) }}
              {{ Option('Auto',         AwbMode) }}
              {{ Option('Tungsten',     AwbMode) }}
              {{ Option('Fluorescent',  AwbMode) }}
              {{ Option('Indoor',       AwbMode) }}
              {{ Option('Daylight',     AwbMode) }}
              {{ Option('Cloudy',       AwbMode) }}
        </select>
      </td>
    </tr>

    <tr>
        <td><a href="https://picamera.readthedocs.io/en/release-1.13/api_camera.html#picamera.PiCamera.iso">ISO</a></td>
        <td><input type="text" value="{{ iso }}" name="iso" /></td>
    </tr>
    <tr>
        <td><a href="https://picamera.readthedocs.io/en/release-1.13/api_camera.html#picamera.PiCamera.brightness">Brightness</a></td>
        <td><input type="text" value="{{ brightness }}" name="brightness" /></td>
    </tr>
    <tr>
        <td><a href="https://picamera.readthedocs.io/en/release-1.13/api_camera.html#picamera.PiCamera.exposure_speed">Exposure speed</a></td>
        <td><input type="text" value="{{ exposure_speed }}" name="exposure_speed" /></td>
    </tr>
    <tr>
        <td><a href="https://picamera.readthedocs.io/en/release-1.13/api_camera.html#picamera.PiCamera.shutter_speed">Shutter speed</a></td>
        <td><input type="text" value="{{ shutter_speed}}" name="shutter_speed" /></td>
    </tr>
    <tr>
        <td><a href="https://picamera.readthedocs.io/en/release-1.13/api_camera.html#picamera.PiCamera.start_preview" title="show camera image on HDMI port">Preview</a></td>
        <td>
            <select name="preview">
              {{ Option('off', preview) }}
              {{ Option('on',  preview) }}
            </select>
        </td>
    </tr>
  </table>
  <input type="submit" name="refresh" value="Update" />
</form>

 #endblock
