<!doctype html>
<html>
    <head>
        <title>PenguinPi</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ppstyle.css', v=0.01) }}">
    </head>
   <body>
<table>
    <tr>
        <td><div class="nav-tab"><a href="/">Home</a></div></td>
        <td><div class="nav-tab"><a href="/speed">Speed</a></div></td>
        <td><div class="nav-tab"><a href="/camera">Camera</a></div></td>
        <td><div class="nav-tab"><a href="/settings">Settings</a></div></td>
    </tr>
</table>
