[Unit]
Description=egb439localiser
After=network.target

[Service]
ExecStart=/usr/local/bin/localiser 
User=jenna
Group=www-data
WorkingDirectory=/home/jenna/srvtest
RuntimeDirectory=/home/jenna/srvtest/runfiles
RuntimeDirectoryMode=0775
PIDFile=/var/run/penguinpi/localiser.pid
StandardOutput=inherit
StandardError=inherit

[Install]
WantedBy=multi-user.target